{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "macros",
    "@babel/transform-flow-strip-types"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": 10
        }
      }
    ]
  ]
}
